<template>
    <layout title="Test">
        <h3>{{ user.name }}</h3>
        <p>email : {{ user.email }}</p>
        <p>{{ user.created_at }}</p>
        <inertia-link href="/users">Kembali</inertia-link>
        <a href="" @click.prevent="deleteuser">Delete</a>
    </layout>
</template>

<script>
import Layout from '../../Shared/Layout.vue'
export default {
  components: { Layout },
    props:{
        title : String,
        user : Object
    },
    methods: {
        deleteuser() {
            //this.$inertia.delete('/test/' +this.id)
        }
    }

}
</script>
