<template>
    <layout title="Test">
        <h1>Daftar {{ title }}</h1>
        <inertia-link href="/user/register">Register</inertia-link>
        <div v-if="$page.props.flash.message" class="green">
        {{ $page.props.flash.message }}
        </div>

        <ul>
            <li v-for="user in users">
                <p>{{ user.name }}</p>
                <inertia-link :href="`/user/${user.id}`">Lihat User</inertia-link>
                <a href="" @click.prevent="deleteuser">delete</a>
            </li>
        </ul>
    </layout>
</template>

<script>
import Layout from '../../Shared/Layout.vue'
export default {
  components: { Layout },
    props:{
        title : String,
        users : Array
    },
    methods: {
        deleteuser() {
            this.$inertia.delete('/test/'+user.id)
        }
    }

}
</script>
