<template>
<layout title="Tentang saya">
    <h1 v-text="name"></h1>
</layout>

</template>

<style scoped>

</style>

<script>
import Layout from '../Shared/Layout.vue'
export default {
  components: { Layout },
    props:['name']
}
</script>
