<template>
    <layout title="Halaman Utama">
        <h1>Hello, {{ title }}</h1>
    </layout>
</template>

<style scoped>

</style>

<script>
import Layout from '../Shared/Layout.vue'
export default {
  components: { Layout },
    props:['title']
}
</script>
